<hello name="{{ name }}"></hello>

<!--<input #nameInput type="text" [(ngModel)]="name">-->

<!--- toggleComp la instance cua ToggleComponent -->
<!--<app-toggle [(checked)]="questions.question1">
  <h3 class="header">Header 1</h3>
  <label>Question 1</label>
  <p>Content 1</p>
</app-toggle>
<app-toggle [(checked)]="questions.question2">
  <h3 class="header">Header 2</h3>
  <span ngProjectAs="label">Question 2</span>
  <p>Content 2</p>
  <button>Skip</button>
</app-toggle>-->

<!-- <div class="card mx-4">
  <div class="card-header">
    You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items.
  </div>
  <div class="card-body">
    There are <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items was selected.
  </div>
  <div class="card-footer">
    You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items.
  </div>
</div>

<ng-template #counterTmpl>
  <span class="badge badge-primary">{{ counter }}</span>
</ng-template>

<ng-template #linkTemplate let-l="link">
  <h4>{{l}}</h4>
</ng-template>
<app-tabs [navs]="navs" [linkTemplate]="linkTemplate"></app-tabs> -->

<!--<tab-group [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">First tab content</tab-panel>
  <tab-panel title="Second tab">Second tab content</tab-panel>
  <tab-panel title="Third tab">Third tab content</tab-panel>
  <tab-panel title="Fourth tab">Fourth tab content</tab-panel>
</tab-group>-->

<!--<button class="btn btn-primary" (click)="showTab4 = !showTab4">Toggle Tab 4</button>
<tab-bs-group [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">
    <ng-template tabContent>
      First tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Second tab">
    <ng-template tabContent>
      Second tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Third tab">
    <ng-template tabContent>
      Third tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Fourth tab" *ngIf='showTab4'>
    <ng-template tabContent>
      Fourth tab content
      <counter></counter>
    </ng-template>
  </tab-panel>
</tab-bs-group> -->

<p>{{ date | date}}</p>
<p>{{ user | json}}</p>
<!-- {{ interval$ | async }} -->
<p> {{ formatAddress(addr) }} </p>
<p> {{ addr | formatAddress:'param1' }} </p>

Full user list:
<ul>
  <li *ngFor="let user of users"> {{user.name}} - {{user.age}} </li>
</ul>
Adult user list:
<ul>
  <li *ngFor="let user of users | adult"> {{user.name}} - {{user.age}} </li>
</ul>

<button (click)="addUser()">Add User</button>